@import '../variables/variables';
@import '../../media/media';


@mixin flex ($display, $justify, $align, $direction, $wrap ) {
    display: $display;
    flex-flow: $direction $wrap;
    justify-content: $justify;
    align-items: $align;
}

////////////////TEXT////////////////////////////////////////////////////////

@mixin column-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
}

@mixin font-roboto($font-style, $font-weight, $font-size, $line-height) {
    font-family: Roboto;
    font-style: $font-style;
    font-weight: $font-weight ;
    font-size: $font-size ;
    line-height: $line-height ;
}

@mixin font-inter($font-style, $font-weight, $font-size, $line-height) {
    font-family: Inter;
    font-style: $font-style;
    font-weight: $font-weight ;
    font-size: $font-size ;
    line-height: $line-height ;
}
////////////////TEXT////////////////////////////////////////////////////////




///////////////////BACKGROUND///////////////////////////////////////////////
@mixin background_color($bg_color) {
    background-color: $bg_color;
    height: $heigth-100;
    width: $width-100;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-repeat: no-repeat;
}

@mixin background_image_fixed($path) {
    height: $heigth-100;
    width: $width-100;
    background-image: url(#{$path});
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

///////////////////BACKGROUND///////////////////////////////////////////////






////////////////COMPONENTS//////////////////////////////////////////////////

//NAV----------------------------------------------------------
@mixin ul-display-mobile ($background-color-nav) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: $nav-color2;
}

@mixin ul-size-mobile {
    width: 60%;
    height: 1.5625rem;
    height: 60%;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}
//NAV----------------------------------------------------------



//BUTTON--------------------------------------------------------
@mixin btn-size {
    background: $btn-color;
    height: 2.5rem;
    width: 4.6875rem;
}

@mixin btn-display {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: auto;
    background-color: $btn-color;
    margin-bottom: .9375rem;
    border-radius: .3125rem .3125rem .3125rem .3125rem;
    width: 5rem;
    height: 2.5rem;
    box-shadow: 0px 4px 4px rgba(250, 249, 249, 0.25);
    border-radius: .5em; 
}

@mixin btn_text_mobile($color) {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.0625rem;
    color: $color;
}

@mixin btn_text_desktop ($color) {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 2.125rem;
    line-height: 3.8125rem;
    color: $color;
    text-transform: lowercase;
}

//BUTTON------------------------------------------------------


//LOGO--------------------------------------------------------

@mixin logo-body($bg-color) {
    background-color: $bg-color;
    border-radius: 6.25rem 6.25rem 0rem 6.25rem;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    width: 4.9875rem;
    height: 4.9875rem;
    margin-left: 0.9375rem;
    display: flex;
    justify-content: center;
    align-items: center;
} 

@mixin line-horizontal-body {
    border-bottom: 4px solid #073B3A;
    display: inline-block;
    width: $width-100;
}

@mixin svg-body {
    transform: rotate(-45deg);
    width: 50%;
    margin-left: 0.1875rem;
    filter:$invert-color-svg;
}

//LOGO--------------------------------------------------------


//CALL-TO-ACTION-----------------------------------------------
@mixin svg_call_to_action_left {
    width: 9.375rem;
    height: 6.875rem;
    stroke-width: 1;
    margin: auto;
}

@mixin svg_call_to_action_right {
    width: 9.375rem;
    height: 6.875rem;
    stroke-width: 1;
    margin: auto;
}

//CALL-TO-ACTION-----------------------------------------


//CARD------------------------------------------------------
@mixin card1-grid-start-end{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 6;
}
@mixin card2-grid-start-end{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 8;

}
@mixin card3-grid-start-end{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 8;
    grid-row-end: 10;
}

@mixin card-content-desktop {
    height: $heigth-100;
    width: $width-100;
    padding: 15px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

@mixin card-svg-desktop {
    width: auto;
    height: 70%;
    margin: auto;
}

@mixin card-img-desktop {
    width: 270px;
    height: 270px;
    margin: auto;
}

@mixin card-p-desktop {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: $heigth-100;
    padding-right: 20px;
    text-align: $text-justify;
    overflow: hidden;
}

@mixin card-content-mobile {
    height: $heigth-100;
    width: $width-100;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 30% 70%;
}

@mixin card-p-mobile {
    color: white;
    text-align: $text-justify;
    margin-top: 10%;
    padding: 0.3125rem 10% 0 10%;
    overflow: hidden;
    height: auto;
    width: $width-100;
};

//CARD----------------------------------------------------

////////////////COMPONENTS/////////////////////////////////////////////////