@import '../../../abstracts/variables/variables';
@import'../../../abstracts/mixins/mixins';

.footer-mobile-version__hfooter {
  width: auto;
  grid-area: hfooter;

  &--h2 {
    color: $main-color;
    text-align: center;
    @include h2-mobile;
    font-family: Inter;
    font-style: normal;
    margin-bottom: 30px;
  }

  //solo modificamos lo que queremos que cambie, lo que no queremos que cambie lo hereda de la clase principal que en este caso es input--hero que se encuentra declarada en Input.js
  .input--footer {
    width: 85%;
    margin-left: auto;
    margin-bottom: 15px;

    @include media(lg) {
      width: 1000px;
    }
  }


  &--icon-input {
    display: flex;
    justify-content: center;


    .footer-mobile-version__hfooter--svg {
      background-color: $main-color;
      border-radius: 100px 100px 0px 100px;
      transform: rotate(-45deg);
      width: 37px;
      height: 37px;
      @include flex(flex, center, center, row, nowrap);

      img {
        width: 26px;
        height: 25px;
        transform: rotate(45deg);
      }
    }
  }
}
.footer-mobile-version__section {
  grid-area: section;
  @include flex(flex, center, center, row, nowrap);
  padding: 40px;
  width: auto;
  text-align: center;

  ol, ul, dl {
    margin: 0;
    padding: 0;
  }

  &--ul {
    @include flex(flex, center, center, column, nowrap);
    color: $main-color;
    width: 100%;
    
  }

  &--li3 {
    margin-bottom: 30px;

    p a {
      text-decoration: none;
      color: $main-color;
    }
  }

  &--li4 {
    margin-bottom: 0;
  }

  &--li5 {
    margin-top: -15px;

    p a {
      text-decoration: none;
      color: $main-color;
    }
  }
}
.footer-mobile-version__span {
  grid-area: span;
  @include flex(flex, center, center, column, nowrap);
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 3;
  grid-row-end: 4;

  &--p {
    @include p;
    color: $main-color;
  }

  &--i {
    @include flex(flex, center, center, row, nowrap);
    font-size: 35px;
    margin: auto;
    padding: 20px;

    a {
      color: $main-color;
    }
  }

}
.footer-mobile-version__logo {
  grid-area: logo;
  @include flex(flex, center, flex-end, row, nowrap);
  width: 100%;
  border-top: 2px solid $main-color;
  padding: 20px;

  &--img {
    height: 100%;
    width: 100px;
    /*  @include logo-mobile-size */
  }

  &--texts {
    @include flex(flex, space-between, start, column, nowrap);
    margin-left: 10px;
  }

  &--h2 {
    color: $main-color;
    @include h2-mobile;
    font-family: Roboto;
    font-style: italic;
  }

  &--h3 {
    color: $main-color;
    @include h3;
  }
}
////////////////////////////////////////////////////////////

.footer-desktop-version__hfooter {
  grid-area: hfooter;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &--h2 {
    color: white;
    text-align: center;
    flex-basis: 40%;
    margin-top: 50px;
    padding-top: 70px;
  }

  &--icon-input {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    margin: auto;
    flex-basis: 60%;

    .footer-desktop-version__hfooter--svg {
      background-color: $main-color;
      border-radius: 100px 100px 0px 100px;
      transform: rotate(-45deg);
      width: 55px;
      height: 55px;
      
      @include flex(flex, center, center, row, nowrap);

      img {
        width: 26px;
        height: 25px;
        transform: rotate(45deg);
      }

      .input--footer-desktop{
        width: 100%;
      }
    }
  }
}
.footer-desktop-version__section {
  grid-area: section;
  @include flex(flex, center, center, row, nowrap);
  @include p;
  width: auto;
  

  &--ul {
    @include flex(flex, center, center, column, nowrap);
    color: $main-color;
    min-width: 100%;
  }

  &--li1 {
    color: $main-color;
  }

  &--li2 {
    color: $main-color;

  }

  &--li3 {

    a {
      text-decoration: none;
      color: $main-color;
    }
  }

  &--li4 {
    color: $main-color;
  }

  &--li5 {
    margin-top: -25px;

    a {
      text-decoration: none;
      color: $main-color;
    }

  }

}
.footer-desktop-version__span {
  grid-area: span;
  @include flex(flex, center, center, column, nowrap);
  
  
  &--p {
    @include p;
    color: $main-color;
  }

  &--container-icons {
    display: flex;
    flex-direction: row;
  }

  &--i {

    font-size: 40px;
    margin: auto;
    padding: 0 30px;

    a {
      color: $main-color;

    }

  }

}
.footer-desktop-version__logo {
  grid-area: logo;

  @include flex(flex, center, flex-end, row, nowrap);
  width: 100%;
  border-top: 2px solid $main-color;


  &--img {
    height: 180px;
    width: 140px;
    padding: 20px 0;
  }

  &--texts {
    @include flex(flex, space-between, start, column, nowrap);
    margin-left: 10px;
    margin-bottom: 10px;
  }

  &--h2 {
    color: $main-color;
    @include h2-desktop;
    font-family: Roboto;
    font-style: italic;
    margin: 0;
  }

  &--h3 {
    color: $main-color;
    padding: 0;
    @include h3;
  }

}
.footer-desktop-version__faq {
  grid-area: faq;
  @include flex(flex, center, center, column, nowrap);
  @include p;
  color: $main-color;
  border-top: 2px solid $main-color;
}
.footer-desktop-version__about {
  grid-area: about;
  @include flex(flex, center, center, column, nowrap);
  @include p;
  color: $main-color;
  border-top: 2px solid $main-color;

}
.footer-desktop-version__site {
  grid-area: site;
  @include flex(flex, center, center, column, nowrap);
  @include p;
  color: $main-color;
  padding-top: 15px;
}

ol,
ul,
dl {
  padding: 0;
  margin: 0;
}

