

/* 
.footer-desktop-version__hfooter {
    width: auto;
    grid-area: hfooter;



    &--h2 {
        color: white;
        text-align: center;
    }

    &--icon-input {

        display: flex;
        align-items: center;
        justify-content: center;

        .footer-desktop-version__hfooter--icon {
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;


            p {
                margin: auto;
                text-align: center;
                color: white;

            }
        }

        input.footer-desktop-version__hfooter--input {
            background-color: white;
            color: black;
        }

    }
}



.footer-desktop-version__section {

    grid-area: section;

    background-color: #073B3A;

    &--ul {
        color: white;
    }

    &--li1 {
        color: white;
    }

    &--li2 {
        color: white;
    }

    &--li3 {
        color: white;
    }

    &--li4 {
        color: white;
    }

    &--li5 {
        color: black;
    }

}


.footer-desktop-version__span {
    grid-area: span;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #073B3A;



    &--p {

        color: lightpink;
    }

    &--i {}
}

.footer-desktop-version__logo {
    grid-area: logo;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background-color: antiquewhite;

    &--img {
        height: 100%;
        width: 50px;
        background-color: #073B3A;
        color: white;
    }

    &--h2 {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        background-color: #073B3A;
        color: white;
    }

}

.faq {

    grid-area: faq;
    background-color: #073B3A;
    color: white;
}

.about {
    grid-area: about;
    background-color: #073B3A;
    color: white;
}

.site {
    grid-area: site;
    background-color: #073B3A;
    color: white;
}

@media screen and (max-width: 768px) {
    .footer-desktop-version {
        display: none;
    }
} */