@import '../../../abstracts/mixins/mixins';
@import '../../../abstracts/variables/variables';


.carousel1{
    background-color:  gray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

   
}

.title-date-container{
    height: 100%;
    padding: 0 9%;
} 

.carousel-indicators li {
    background-color: black;
  }

  .carousel-control-prev, .carousel-control-next {
    
  }

  .icon-prev, .icon-next {
    
  }

  h3, p{
    @include font-roboto(normal,400,15px,18px);
  }





