@import '../../../abstracts/mixins/mixins';
@import '../../../abstracts/variables/variables';

// /* /* Estilos base */
// .carousel2 {
//   background-color: blue;
//   display: flex;
//   align-items: center;
//   width: 100%;
//   height: 400px;
//   /* Altura fija */
// }

// .carousel-inner {
//   width: 100%;
//   height: 100%;
// }

// .carousel-item {
//   width: 100%;
//   height: 100%;

// }

// /* Media query para pantallas pequeñas */
// @media (max-width: 768px) {
//   .carousel {
//     height: 300px;
//   }
// }

.carousel2{
  background-color:  gray;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px
  ;
  width: 100%;
}

.title-date-container{
  height: 100%;
  padding: 0 9%;
  width: 100%;
  
} 

h3, p{
  @include font-roboto(normal,400,15px,18px);
  
}
