@import '../../../abstracts/mixins/mixins';
@import '../../../abstracts/variables/variables';


.main__card1-mobile {
    @include card1-grid-start-end;
    
    &--content {
        @include card-content-mobile; 
        background-color: $bg-card1;
        
        grid-template-areas:
            "svg-card1 img-card1 img-card1"
            "p-card1 p-card1 p-card1";
        
        .main__card1-mobile--svg {
            grid-area: svg-card1;
            width: 4.375rem;
            height: 6.25rem;
            margin: auto;
            margin-bottom: 40%;
        }

        .main__card1-mobile--img {
            grid-area: img-card1;
            width: 11.25rem;
            height: 11.25rem;
            margin: 25% -5%;
        }

        .main__card1-mobile--p {
            grid-area: p-card1;
            @include p;
            padding: 0.3125rem 10% 0 10%;
        }
    }
}
.main__card1-desktop {
    @include card1-grid-start-end;

    &--content {
        @include card-content-desktop;
        background-color: $bg-card1;
        grid-template-areas:
            "svg-card1 p-card1 img-card1"
            "svg-card1 p-card1 img-card1";

        .main__card1-desktop--svg {
            grid-area: svg-card1;
            @include card-svg-desktop;
        }

        .main__card1-desktop--img {
            grid-area: img-card1;
            @include card-img-desktop;
        }

        .main__card1-desktop--p {
            grid-area: p-card1;
            @include p;
            @include flex(flex,center,center,column,nowrap);
            margin-right: 5%;
        }
    }
}
.main__card2-mobile {
    @include card2-grid-start-end;

    &--content {
        @include card-content-mobile; 
        background-color: $bg-card2;
        grid-template-areas:
            "svg-card2 img-card2 img-card2"
            "p-card2 p-card2 p-card2";
        

        .main__card2-mobile--svg {
            grid-area: svg-card2;
            width: 4.375rem;
            height: 7.5rem;
            margin: auto;
            margin-bottom: 30%;
        }

        .main__card2-mobile--img {
            grid-area: img-card2;
            width: 11.25rem;
            height: 11.25rem;
            margin: 25% -5%;
        }

        .main__card2-mobile--p {
            grid-area: p-card2;
            @include p;
            padding: 0.3125rem 10% 0 10%;
        }
    }
}
.main__card2-desktop {
    @include card2-grid-start-end;


    &--content {
        @include card-content-desktop;
        background-color: $bg-card2;
        grid-template-areas:
            "svg-card2 p-card2 img-card2"
            "svg-card2 p-card2 img-card2";
        
        .main__card2-desktop--svg {
            grid-area: svg-card2;
            width: 40%; 
            height: 15.625rem;
            margin: auto;
        }

        .main__card2-desktop--img {
            grid-area: img-card2;
            @include card-img-desktop;
        }

        .main__card2-desktop--p {
            grid-area: p-card2;
            @include p;
            @include flex(flex,center,center,column,nowrap);
            margin-right: 5%;
        }
    }
}
.main__card3-mobile {
    @include card3-grid-start-end;

    &--content {
        @include card-content-mobile; 
        background-color: $bg-card3;
        grid-template-areas:
            "img-card3 img-card3 svg-card3"
            "p-card3 p-card3 p-card3";

        .main__card3-mobile--svg {
            grid-area: svg-card3;
            width: 4.375rem;
            height: 6.25rem;
            margin: auto;
            margin-bottom: 40%;
            margin-right: 10%;
        }

        .main__card3-mobile--img {
            grid-area: img-card3;
            width: 11.25rem;
            height: 11.25rem;
            margin-top: 25%;
            margin-left: 35%; 
        }

        .main__card3-mobile--p {
            grid-area: p-card3;
            @include p;
            padding: 0.3125rem 10% 0 10%;
        }
    }
}
.main__card3-desktop {
    @include card3-grid-start-end;

    &--content {
        @include card-content-desktop;
        background-color: $bg-card3;
        grid-template-areas:
            "img-card3 p-card3 svg-card3"
            "img-card3 p-card3 svg-card3";
        

        .main__card3-desktop--svg {
            grid-area: svg-card3;
            @include card-svg-desktop;
        }

        .main__card3-desktop--img {
            grid-area: img-card3;
            @include card-img-desktop;
        }

        .main__card3-desktop--p {
            grid-area: p-card3;
            @include p;
            @include flex(flex,center,center,column,nowrap);
            margin-left: 5%;
        }
    }
}
@include media(sm){
    .main__card1-mobile, .main__card2-mobile, .main__card3-mobile {
        display: block;
    }
    .main__card1-desktop, .main__card2-desktop, .main__card3-desktop{
        display: none;
    }
}
@include media(md){
    .main__card1-mobile, .main__card2-mobile, .main__card3-mobile{
        display: none;
    }
    .main__card1-desktop, .main__card2-desktop, .main__card3-desktop{
        display: block;
    }
}
@include media(lg){
    .main__card1-mobile, .main__card2-mobile,.main__card3-mobile{
        display: none;
    }
    .main__card1-desktop, .main__card2-desktop, .main__card3-desktop{
        display: block;
    }
}
@include media-max(md){
    .main__card1-desktop, .main__card2-desktop, .main__card3-desktop  {
        display: none;
        }
}

