$btn-color:#E2A30B;
$nav-color1: #E2A30BA6;
$nav-color2: #E2A30B;
$main-color: #ECECEC;
$secondary-color:#073B3A;
$bg-color:  #073B3A;
$bg-card1:#729e2e;
$bg-card2:#e2a30b;
$bg-card3:#009ee3;
$invert-color-svg:brightness(0) invert(1); 


//reemplazar donde se usaron
$width-100: 100%;
$heigth-100: 100%;


//reemplazar donde se usaron
$text-justify: justify;
$text-center: center;







