@import '../../../abstracts/variables';
@import'../../../abstracts/mixins';

.header {
  padding: 10px;
  grid-area: header;
  display: grid;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-template-areas:
    "input  input  input"
    "logo    h1     btn"
    "logo    h2     btn"
    "nav    nav    nav";

  @include background_image_fixed('../../../../assets/img/BkgdTransp.jpg');

//en input se trabajo en un scss aparte 
 /*  &__input {
    grid-area: input;
    background-color: pink;
    color: black;
    width: 100%;
  } */

  &__img {
    grid-area: logo;
    display: flex;
   @include logo-mobile-size;
  }

  &__h1 {
    grid-area: h1;
    @include h1_mobile($text-color);
  }

  &__h2 {
    grid-area: h2;
    @include h2_mobile($text-color)
  }

  &__btn {
    grid-area: btn;
    @include btn-size;
    @include btn-display;
    @include btn_text_mobile($text-color);
  }

  
  &__nav {
    grid-area: nav;
    

    &--ul {
      @include ul-display-mobile($nav-color2);
      @include ul-size-mobile;
      
    }

    &--li {
      
      width: 20px;
      height: 20px;
      margin: auto;
      background-color: red;
    }
  }
}

.header__nav--li-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

