@import '../../../abstracts/variables/variables';
@import'../../../abstracts/mixins/mixins';

@import '../../../media/media';




.header-container__img1{
  width: 100%;
  height: 100%;
  @include flex(flex, flex-start,flex-end,row,nowrap);
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  

  @include media(lg){
    margin-top: 6%;
  }

  &--img {
    grid-area: logo;
    width: 100%;
    height: auto;

    @include media(lg){
    width: 80%;
    height: auto;
    }
  }
}

.header-container__img2 {
  width: 100%;
  height: 1.875rem;
  @include flex(flex,flex-start,first baseline,row,nowrap);
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;

  @include media(lg){
    height: 100%;
    margin-top: 5%;
  }

  &--img {
    grid-area: letras;
    width: 100%;
    height: auto;

    @include media(lg){
      width: 80%;
      height: auto;
      }
  }
}




.header__btn {
  grid-area: btn;
  @include btn-size;
  @include btn-display;
  @include btn_text_mobile($main-color);
}


.header__nav {
  grid-area: nav;
  @include ul-display-mobile($nav-color2);
  @include ul-size-mobile;

  @include media(lg){
    height: 100%;
    width: 50%;
  }


  &--li {

    flex: 1;
    grid-area: icon1;
    filter: $invert-color-svg;
    @include flex(flex, center, center, row, nowrap);

    p{
      display: none;
    }

    @include media(lg){
      a{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-decoration: none;
        
          

        img{
          width: 52px;
          height: 52px;
          
        }
        
        p{
          display: block;
          @include font-inter(400,16px,19px);
          margin: auto;
        }
        
      }
    }



    &::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      height: 280%;
      border-right: 1px solid white;

      @include media(lg){
        height: 140%;
      }
    }

    &:last-child::after {
      display: none;
    }
  }
}