@import '../../../abstracts/variables/variables';

@import '../../../media/media';

.input--hero {
    grid-area: input;
    width: 65%;
    margin-left: auto;
    margin-bottom: 5px;

    @include media(lg){
        width: 45%;
        margin-bottom: 0;
        
    }

    .button-addon2 {
        background-color: $btn-color ;
        color: white;
        width: auto;
        border-radius: 0em 2em 2em 0em;
    }
}

img {
    width: 1.25rem;
}

.form-control{
    
    @include media(lg){
        height: 60px;
    }
}
//clase abstracta de react bootstrap para el componente Input
/* .form-control {
    border-radius: 50px 0px 0px 20px;
}
 */
