@import '../../../abstracts/mixins';
@import '../../../abstracts/variables';

        .input{
            grid-area: input;
            width:70%;
            margin-left: auto;

            .form-input{
                
            }
            
            .button-addon2{
                background-color: $btn-color ;
                color: black;
                width: auto;
                border-radius: 0em 2em 2em 0em;    
                
            }
        }
        img{
            width: 1.25rem;
        }
    
    
