@import '../../../abstracts/variables/variables';

.input--hero {
    grid-area: input;
    width: 51%;
    margin-left: auto;
    margin-bottom: 5px;

    .button-addon2 {
        background-color: $btn-color ;
        color: white;
        width: auto;
        border-radius: 0em 2em 2em 0em;
    }
}

img {
    width: 1.25rem;
}
//clase abstracta de react bootstrap para el componente Input
/* .form-control {
    border-radius: 50px 0px 0px 20px;
}
 */
