@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#container {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (auto)[23];
      grid-template-rows: repeat(23, auto);
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 24;
  gap: .625rem;
      grid-template-areas: "header header header" "header header header" "header header header" "header header header" "main main main" "main main main" "main main main" "main main main" "main main main" "main main main" "main main main" "main main main" "main main main" "main main main" "main main main" "main main main" "main main main" "main main main" "main main main" "footer footer footer" "footer footer footer" "footer footer footer" "footer footer footer";
}

@media screen and (min-width: 1024px) {
  #container {
    gap: 0;
  }
}

#container ::-moz-selection {
  color: #ECECEC;
  background-color: rgba(40, 44, 39, 0.215);
}

#container ::selection {
  color: #ECECEC;
  background-color: rgba(40, 44, 39, 0.215);
}

.header {
  padding: 10px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 70px 100px 110px 80px;
      grid-template-rows: 70px 100px 110px 80px;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 5;
      grid-template-areas: ". input  input" "logo    logo     btn" "letras   letras     btn" "nav    nav    nav";
  height: 100%;
  width: 100%;
  background-image: url(../../assets/img/BkgdTransp.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media screen and (min-width: 1024px) {
  .header {
    -ms-grid-rows: auto 150px 55px auto;
        grid-template-rows: auto 150px 55px auto;
        grid-template-areas: "input input  input" "logo    logo     btn" "letras   letras     btn" "nav    nav    nav";
  }
}

.main {
  -ms-grid-row: 5;
  -ms-grid-row-span: 15;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: main;
  display: -ms-grid;
  display: grid;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 5;
  grid-row-end: 20;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (350px)[2] 320px (420px)[6] 320px (350px)[2] 320px (350px)[2];
      grid-template-rows: repeat(2, 350px) 320px repeat(6, 420px) 320px repeat(2, 350px) 320px repeat(2, 350px);
  gap: 1.25rem;
}

@media screen and (min-width: 1024px) {
  .main {
    margin-top: 10px;
    -ms-grid-rows: (170px)[2] 200px (170px)[6] 200px (350px)[2] 200px (350px)[2];
        grid-template-rows: repeat(2, 170px) 200px repeat(6, 170px) 200px repeat(2, 350px) 200px repeat(2, 350px);
  }
}

.footer {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-row: 20;
      grid-row-start: 20;
  grid-row-end: 24;
  width: auto;
}

.footer .footer-mobile-version {
  background-color: #073B3A;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "hfooter hfooter hfooter " "section section section " "span span span" "logo logo logo";
  padding: 40px 10px 10px 10px;
}

.footer .footer-desktop-version {
  background-color: #073B3A;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  padding: 10px;
  -ms-grid-columns: 25% 50% 25%;
      grid-template-columns: 25% 50% 25%;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: -1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 4;
      grid-template-areas: "section hfooter site " "span hfooter site " "faq about logo" ". . . ";
}

@media screen and (min-width: 768px) {
  .footer .footer-mobile-version {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .footer .footer-desktop-version {
    display: none;
  }
}

/* Definimos las Custom properties */
:root {
  /* Colores */
  --negro: #393939;
  /* Tipografía */
  --tipo-principal: Roboto, Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

/* (Opcional) Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}

/* (Opcional) Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* @media (prefers-contrast: high){
      :root{}
  } */
/* (Opcional) Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}

/* Reseteamos los margin y paddings de todas las etiquetas */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

*::before, *::after {
  display: block;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* (Opcional) */
  -o-object-fit: cover;
     object-fit: cover;
  /* (Opcional) */
  -o-object-position: center center;
     object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* (Opcional) Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* (Opcional) Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* (Opcional) */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  /* (Opcional) */
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  /* (Opcional) */
  font-smooth: always;
  /* (Opcional) */
  -webkit-font-smoothing: antialiased;
  /* (Opcional) */
  -moz-osx-font-smoothing: grayscale;
}

ol, ul {
  padding: 0;
}
/*# sourceMappingURL=main.css.map */